html, body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.memo-container
{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.memo-navbar
{
    background-color: #e6b905;
    display: flex;
    flex-direction: row;
    -webkit-app-region: drag;
    user-select: none;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}

.memo-contents
{
    flex: 1;
    padding: 5px;
    overflow: auto;
    box-sizing: border-box;
}

.memo-contents::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.memo-contents::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.memo-contents::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.memo-contents::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
}

.memo-footer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
}

#memoFocusFooter
{
    display: flex;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.memo-new-memo-button
{
    -webkit-app-region: no-drag;
    background-color: transparent;
    font-size: 25px;
    color: rgb(69, 69, 69);
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: filter 0.3s;
    align-items: center;
    user-select: none;
}

.memo-close-button
{
    -webkit-app-region: no-drag;
    width: 15px;
    height: 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s ease;
    cursor: pointer;
    border: none;
    background-image: url('../../assets/buttons/titlebar/closeButton.svg');
}

.memo-new-memo-button:hover
{
    color: rgb(117, 117, 117);
    transition: 0.3s ease;
}

.memo-close-button:hover
{
    background-color: rgba(0, 0, 0, 0.1);
}


.text-area
{
    width: 100%;
    height: 100%;
    user-select: none;
    outline: none;
}

.bold-button
{
    -webkit-app-region: no-drag;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s ease;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-size: 100% 100%;
    background-image: url('../../assets/buttons/memobar/boldButton.svg');
}

.bold-button:active
{
    filter: brightness(0.2);
}

.italic-button
{
    -webkit-app-region: no-drag;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s ease;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-size: 100% 100%;
    background-image: url('../../assets/buttons/memobar/italicButton.svg');
}

.underline-button
{
    -webkit-app-region: no-drag;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s ease;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-size: 100% 100%;
    background-image: url('../../assets/buttons/memobar/underlineButton.svg');
}

.strikethrough-button
{
    -webkit-app-region: no-drag;
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s ease;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-size: 100% 100%;
    background-image: url('../../assets/buttons/memobar/strikethroughButton.svg');
}

.list-button
{
    -webkit-app-region: no-drag;
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s ease;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-size: 100% 100%;
    background-image: url('../../assets/buttons/memobar/listButton.svg');
}

.add-photo-button
{
    -webkit-app-region: no-drag;
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s ease;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-size: 100% 100%;
    background-image: url('../../assets/buttons/memobar/photoButton.svg');
}

.change-color-button
{
    -webkit-app-region: no-drag;
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s ease;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-size: 100% 100%;
    background-image: url('../../assets/buttons/memobar/colorButton.svg');
}

.show-memo-list-button
{
    -webkit-app-region: no-drag;
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s ease;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-size: 100% 100%;
    background-image: url('../../assets/buttons/memobar/showListButton.svg');
}

.delete-memo-button
{
    -webkit-app-region: no-drag;
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s ease;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-size: 100% 100%;
    background-image: url('../../assets/buttons/memobar/deleteButton.svg');
}